*.swp
*.log
*.swo
*.swn
*.swm
*.swl
*.swj
*.swk
*.pyc
*.pyo
*.orig
*~
*.nnmc
tags
build-*/
ctc
dumps
game_simulator/main/robots.cfg
.cproject
.project
.idea
cotire
.tags*
cscope*
utils/behaviourUtils/build/
GameController2014
